body {
    font-family: Arial, sans-serif;
    background-color: #211842;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    font-size: 24px;
}

input {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}

#message {
    margin-top: 20px;
    font-weight: bold;
}

.correct {
    color: green;
}

.too-low {
    color: blue;
}

.too-high {
    color: red;
}

